<ion-view title="Signup" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="signup-form6" class="list">
      <ion-list id="signup-list10">
        <label class="item item-input" id="signup-input11">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="" ng-model="ctrl.nombre">
        </label>
        <label class="item item-input" id="signup-input12">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="" ng-model="ctrl.usuario">
        </label>
        <label class="item item-input" id="signup-input13">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="ctrl.password">
        </label>
        <label class="item item-input" id="signup-input13">
          <span class="input-label">Repetir password</span>
          <input type="password" placeholder="" ng-model="ctrl.passwordRepite">
        </label>
      </ion-list>
      <button id="signup-button7" class="button button-stable  button-block" ng-click="ctrl.agregarUsuario()">Registrate</button>
    </form>
  </ion-content>
</ion-view>