<ion-view title="Identificacion" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="identificacion-form5" class="list">
      <div id="identificacion-markdown5" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Por favor danos tu e-mail. Lo necesitamos para identificarte.</p>
      </div>
      <label class="item item-input" id="identificacion-input9" name="email">
        <span class="input-label">E-mail</span>
        <input type="text" placeholder="" ng-model="ctrl.email">
      </label>
      <label class="item item-input" id="identificacion-input9" name="nombre">
        <span class="input-label">Nombre</span>
        <input type="text" placeholder="" ng-model="ctrl.nombre">
      </label>
    </form>
    <a id="identificacion-button6" class="button button-positive  button-block" ng-click="nuevoUsuario()">Registrarme</a>
  </ion-content>
</ion-view>